h1{
    color: lightpink;
}
h2{
    color: lightslategray;
}
.common-header-style{
    font-family: 'Times New Roman', Times, serif
    
}
ul#main-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center
    

}

ul#main-nav li {
    float: left;
}

ul#main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 400px;
}
ul#main-nav li a:hover {
background-color: #111;
}

.paragraph-style{
    font-family: fantasy;
}
section[title]{
    border: 1px solid black;
    margin: 10px 0px;
    padding: 5px;
    background-image: element(newyork.jpg)
    
}
ul#goals-list{
    font-family: 'Times New Roman', Times, serif
}
ul#hob-list{
    font-family: 'Times New Roman', Times, serif
}
ul#work-list{
    font-family: 'Times New Roman', Times, serif
}

